/*
Theme Name: Flatsome Child
Description: Liên hệ 0905 692 314 để lấy giao diện
Author: SAGO
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
.product-main .product-info{
    padding-bottom: 0px;
}
.section-ban-chay .product_list_widget li{
	margin-left: 0px;
	    border: 1px solid rgba(0,0,0,0.1);
}
.section-ban-chay .product_list_widget li:hover{
	    border-color: #f68e2e !important;
}
.section-ban-chay .product_list_widget li img{
	left: 7px;
}
#mega-menu-title {
    padding: 0px 0 0px 15px;
    font-size: 15px;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.header-top {
       border-bottom: 1px solid #ebebeb;
}
.col{
	
}
/*Ô tìm kiếm*/
.header-inner li.html input{
	height: 40px;

}
#mega-menu-wrap {
    width: 100%;
    background: #F18E33;
    position: relative;
}
.product-category .box-text-inner{
	width: 50%;
	padding: 10px;
    background-color: rgba(0,0,0,0.4);
}
input[type='email'], input[type='date'], input[type='search'], input[type='number'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select, .select-resize-ghost, .select2-container .select2-choice, .select2-container .select2-selection {
	box-shadow:none;
	border: 1px solid #ebebeb;
}
.flex-right .header-bottom-nav li a{
	font-size: 16px;
}
.div-no-padding{
	padding-bottom: 0px !important;
}
#mega_menu>li>a {
    line-height: 39px;
        padding: 0em 1em;
    border-top: 1px solid #ddd;
    font-size: .9em;
}
.box-normal .box-text{
	background: #f7f7f7;
}
.new_title .title-home {
	width: auto;
    font-size: 18px;
    line-height: 19px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
}
.new_title .title-home::before {
    border: 2px double #ebebeb;
    border-left: 2px double #fff;
    border-right: 2px double #fff;
    bottom: -5px;
    content: "";
    display: block;
    height: 7px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.new_title {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.div-no-padding{
	padding-bottom: 0px !important;
}
.box-normal .box-text .product-title{
	font-weight: bold;
}
.box-normal .box-text .product-title{
	min-height: 41px;
}
.hotline span{
	display: block;
}
.hotline .evo-title{
	    text-transform: uppercase;
    display: block;
    font-weight: bold;
    font-size: 14px;
}
.hotline .evo-hotline{
	color: #EF7A15;
    font-size: 17px;
    font-weight: bold;
}
.nav-spacing-xlarge>li {
    margin: 0 20px;
}
.ux-search-box .search-field {
	    border-radius: 5px;
}
.searchform .button.icon i {
    font-size: 1em;
}
.search_categories{
	width: 90px !important;
    height: 40px;
    border-right: none;
		border-radius:4px 0px 0px 4px;
	}

#wide-nav .flex-col.hide-for-medium.flex-left {
    min-height: 50px;
    line-height: 50px;
}


.nav-dropdown-default {
    padding: 0px;
}
.nav-dropdown{
	padding:0px;
	border:1px solid #fff;
}
.nav-dropdown-default .nav-column li>a, .nav-dropdown.nav-dropdown-default>li>a {
    color:#fff;
     border-bottom: none;
}
/*icon holtine email*/
.icon-lien-he h5{
	margin-bottom:0px;
	font-size:105%;
}
/*tab sp home*/
.tab-sp-trang-chu .nav-pills>li>a {
    padding: 0 0.75em;
    border-radius: 3px;
    line-height: 2.3em;
	font-size:95%;
	margin-left:5px;
	margin-right:5px;
	background:#c4dbd9;
	font-weight:500 !important;
}
.tab-sp-trang-chu .nav-pills>li.active>a{
	background:#13a89e;
}
.tab-sp-trang-chu h4{
	font-size:130%;
	font-weight:500;
	color:#474c5f;
	line-height:30px;
}
li.tab.has-icon {
    margin-bottom: 8px;
}
/*row sản phẩm*/
del span.amount{
	color:#333;
}
span.amount {
    
    color: #f68e2e;
   
}
ul.header-bottom-nav li.cart-item:hover {
    background: #ffffff00 !important;
}
.box-info-sago p {
	margin-bottom:0px;
}

.info{
	padding:30px;
	border:1px dashed #fff;
}
.badge-container {
    margin: 5px 0 0 10px;
    
}
.badge{
	height: 2.0em;
}
/*title*/
.section-title-normal span{
	border:none;
}
.section-title-normal{
	border:none;
}
.section-title-normal:before {
        content: "";
    width: 100%;
    height: 3px;
    background: transparent url(http://noithat15.giaodienwebmau.com/wp-content/uploads/2019/09/duong-line.png) center;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 1;
}
.section-title-normal:after{
	    content: "";
    width: 16%;
    border-top: 3px solid #EF7A15;

    position: absolute;
    top: 35px;
    background: #fff;
    left: 0;
    z-index: 11;
}
/*footer*/
.absolute-footer {  
    padding: 8px 0 8px;
}
#footer ul{
	list-style:none;
}
#footer ul li{
	margin-left:0px;
}
/*hedding*/
.shop-page-title.category-page-title.page-title{
	background:#f0f0f0;
	font-weight:500;
}
.page-title-inner{
	padding-top:0px;
}
/*sibar*/
@media screen and (min-width: 850px)
{
	.row-divided>.col+.col:not(.large-12) {
    border-left: none;
}
}
/*chuyên mục tin tức*/
h5.post-title.is-large{
	font-size:105%
}
.blog-archive p.from_the_blog_excerpt{
	    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.widget {
    margin-bottom: 20px;
    background: #fff;
    padding: 10px 0px;
}
span.widget-title {
    font-size: 1em;
    font-weight: 600;
    padding: 5px 12px;
}
.widget .is-divider {
    height: 2px;
    display: block;
    background-color: rgb(240, 240, 240);
    max-width: 100%;
    width: 100%;
    margin: 6px 0px;
}
.widget ul{
	padding:0px 12px;
	font-weight:500;
}
.widget ul li a{
	
	font-weight:400 !important;
}
.blog-archive .box-text {
	background:#fff;
	padding:10px 5px;
}
.blog-archive .box-text .is-divider{
	display:none;
}
ul.menu>li+li, .widget>ul>li+li,.widget>ul>li ul {
    border: none;
}
.shop-container .box-text-products{
	background:#fff;
	padding:10px 5px
}
.product-container {
    background: #fff;
}
@media screen and (min-width: 850px)
{
	.col-divided {
    padding-right: 30px;
    border-right:none ;
}
}
.ct-sp{
	border:1px solid #EF7A15;
	border-radius:3px;
}
ul.product_list_widget li+li {
    border-top:none;
}
h1.product-title.product_title.entry-title{
	font-size:130%;
	color:#2E3553;
}
p.price.product-page-price{
	font-size:120%;
}
.header-block-block-1 .icon-box-text span{
	color: #EF7A15;
    font-weight: bold;
}

@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}